@using DuitkuApps.Models
@{
    ViewBag.Title = "Index";
}

@if (ViewBag.displayMenu == "Yes")
{
    <h1>Selamat Datang Admin. Sekarang Kamu Dapat Menambah Pengguna.</h1>
    @*<h3>*@
        <li>@Html.ActionLink("Menambah Pengguna", "tampilPengguna", "Admin")</li>
    @*</h3>*@
}
else
{
    <h2>Selamat Datang <strong>@ViewBag.Name</strong> :)</h2>
        <li>@Html.ActionLink("Silahkan Mengisi Data Pengguna", "Create", "Pengguna")</li>

   
}  

