@{
    ViewBag.Title = "Konfirmasi Alamat Email.";
}
<h2>@ViewBag.Title.</h2>

<div class="row">
    <div class="col-md-8">
        <p class="text-danger">
            @*Silahkan klik link berikut untuk konfirmasi email : <a href="@ViewBag.Link" class="btn btn-success btn-xs">Konfirmasi Email</a>
           <a href="@ViewBag.Link">link</a>*@
            Konfirmasi pendaftaran sudah terkirim. Silahkan membuka email untuk melanjutkan pendaftaran.
        </p>
    </div>
</div>  