@{
    ViewBag.Title = "Tentang Kami";
}


<style>
    th {
        text-align: center;
        background-color: red;
        color: white;
    }

    h2 {
        text-align: center;
        font-weight: bold;
        font-family: 'Harlow Solid';
        font-size: 45px;
        color: red;
    }
</style>

<h2><strong>@ViewBag.Title</strong> </h2>
<hr />
<br />


<div class="container">
    <section class="container text-center" style="max-width:1000px">
        <p style="text-align:center;font-size:20px;font-family:'MV Boli'">
            duitKu Apps adalah sebuah website yang digunakan untuk mengatur keuangan pribadi
            pengguna. Website ini juga menyediakan informasi – informasi terkait dengan keuangan, seperti berita
            keuangan dan  tips trick keuangan.
        </p>
        <br />
        <h2><strong>Developer</strong> </h2>
        <br />
        <h4>Ernanda Rully Novrisanti / 72140008 / ernanda.rully@si.ukdw.ac.id</h4>
        <br />
        <h4>Lorensia Dwi Mawarti / 72140045 / lorensia.mawar@si.ukdw.ac.id</h4>
    </section>
</div>